.eventos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.flyer {
  flex: 1 1 200px;
}

.flyer img {
  width: 100%;
}

@media (max-width: 600px) {
  .eventos {
    column-gap: 0.7rem;
  }
}