* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: #adadad;
}

body {
  background-color: #1a1a1a;
}

main {
  padding: 2rem 1rem 1rem 1rem;
  flex-grow: 1;
  flex-basis: auto;
}

span {
  color: #7159c1;
}

input,
select,
textarea {
  padding: 0.3rem;
  color: #101010;
}

option {
  font-weight: 500;
  letter-spacing: 2px;
  color: #101010;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1rem;
  font-weight: 500;
}

button {
  cursor: pointer;
}

h2 {
  margin-bottom: 1rem;
}

p {
  font-weight: 500;
}

i {
  color: #ffff00;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.btn {
  text-align: center;

  padding: 0 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #1a1a1a;
  border: none;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #7159c1, #ab93f9);
  background: -o-linear-gradient(to left, #7159c1, #ab93f9);
  background: -moz-linear-gradient(to left, #7159c1, #ab93f9);
  background: linear-gradient(to left, #7159c1, #ab93f9);
  cursor: pointer;
}

.btn--primary {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #1a1a1a;
  background-color: dodgerblue;
  border: none;
}

.btn--danger {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #1a1a1a;
  background-color: crimson;
  border: none;
}

i {
  cursor: pointer;
}